[submodule "trainig_pipeline/diffusion-pipe"]
	path = trainig_pipeline/diffusion-pipe
	url = https://github.com/learn2train/diffusion-pipe.git
[submodule "inference_pipeline/DiffSynth-Studio"]
	path = inference_pipeline/DiffSynth-Studio
	url = https://github.com/modelscope/DiffSynth-Studio.git
